<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo" %>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Create a new article", new_article_path, class: "dropdown-item" %>
          <%= link_to "View articles", articles_path, class: "dropdown-item" %>
        </div>
      </li>

      <a class="nav-link"><%= link_to "Users", users_path, class: "nav-link" %></a>
      <a class="nav-link"><%= link_to "About", about_path, class: "nav-link" %></a>

      <% if logged_in? %>
        <a class="nav-link"><%= link_to current_user.username, user_path(current_user), class: "nav-link" %></a>
        <a class="nav-link"><%= link_to "Logout", logout_path, class: "nav-link", method: :delete %></a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <a class="nav-link"><%= link_to "Login", login_path, class: "nav-link" %></a>
        <a class="nav-link"><%= link_to "Sign up", signup_path, class: "nav-link" %></a>
      <% end %>
    </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
  </div>
</nav>
